<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 >Quora Posts</h1>
    <section class="main">
        <% for(post of posts)
        { %>
            <div class="post">
                <h3 class="user">@<%= post.username %></h3>
                <h4 class="content"><%= post.content %></h4>
                <div class="post-actions">
                    <a href="http://localhost:8080/posts/<%= post.id %>">
                    <button class="detail">See in Detail</button>
                </a>
                <a href="http://localhost:8080/posts/<%= post.id %>/edit">
                    <button class="edit">Edit</button>
                </a>
                </div>
                    
            </div>
            
            
            
       <% } %>
    </section>
    <br>
    <br>
    <a href="http://localhost:8080/posts/new">
        <button class="new">Creat New Post</button>
    </a>
   
    
</body>
</html>