<%- include("includes/head.ejs") %>
<body>
    <h1> Dice Number is : 
        <%= data %>
    </h1>
    <% if(data == 6){ %>
        <h1>Nice ! Roll Dice Again</h1>
        <% } %>
</body>
</html>

    
